body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url('../imgs/header-background.png');
    background-size: cover;
    background-position: center;
    color: white;
    /* Mude a cor do texto para branco para melhor contraste */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    padding: 100px 20px;
    /* Adiciona espaçamento ao redor do texto */
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Adiciona uma camada de fundo escura semi-transparente */
}

header h1,
header p {
    position: relative;
    z-index: 1;
    /* Coloca o texto acima da camada semi-transparente */
}

#cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    /* Coloca o botão acima da camada semi-transparente */
}

#cta-button:hover {
    background-color: #e67e22;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e68900;
}

section {
    padding: 20px;
    margin: 20px;
}

.produto {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}