body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #074d09;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e68900;
}

section {
    padding: 20px;
    margin: 20px;
}

.produto {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}